<nav class="navbar navbar-light bg-light fixed-top background-color-nav">
  <div class="container-fluid">
    <nav class="main-navigation" style="width: 1140px">
      <div class="navbar-header animated fadeInUp" style="margin-left: 20px">
        <a class="navbar-brand" href="#">Logo Area</a>
      </div>
      <ul class="nav-list" routerLinkActive="active">
        <li class="nav-list-item" *ngIf="showAdminBoard || showModeratorBoard">
          <a href="dashboard" class="nav-link">Home</a>
        </li>
        <li class="nav-list-item" *ngIf="showAdminBoard || showModeratorBoard">
          <a href="manager-task" class="nav-link">ManagerTask</a>
        </li>
        <li class="nav-list-item" *ngIf="showAdminBoard">
          <a
            href="manager-project"
            routerLink="manager-project"
            class="nav-link"
            >ManagerProject</a
          >
        </li>
        <li class="nav-list-item" *ngIf="showAdminBoard">
          <a href="manager-user" class="nav-link">ManagerUser</a>
        </li>
      </ul>
    </nav>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-start background-color-nav"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Angular</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{
            username
          }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
