.custom-menu{
    padding: 10px;
    border-radius: 10px;
    margin: 2px 0px;
}
.custom-menu-color-active{
    background: #F1A874;
}
.custom-menu:hover{
    background: #F9E6D4;
}

.background-color-nav{
    background-color: #FEEFEA !important;
}