.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.vh-100{
    height: 100vh;
}
.div-center {
    position: absolute; /* Đặt phần tử là vị trí tuyệt đối để có thể căn giữa */
    top: 50%; /* Di chuyển phần tử xuống dưới 50% vị trí ban đầu */
    left: 50%; /* Di chuyển phần tử sang phải 50% vị trí ban đầu */
    transform: translate(-50%, -50%); /* Dịch chuyển phần tử lên trên và sang trái một khoảng bằng 50% chiều rộng và chiều cao của phần tử */
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}