<div class="container-componet">
  <div>
    <h3>Quản lý dự án</h3>
  </div>
  <div class="d-flex flex-row-reverse bd-highlight mb-3">
    <button type="button" class="btn btn-success" (click)="createData()">
      Thêm mới
    </button>
  </div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="scroll-table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 5%" scope="col">ID</th>
          <th style="width: 30%" scope="col">Tên dự án</th>
          <th style="width: 20%" scope="col">Ngày bắt đầu</th>
          <th style="width: 20%" scope="col">Số người tham gia</th>
          <th style="width: 25%" scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngIf="
            (dataList$ | async) && (dataList$ | async).length > 0;
            else noData
          "
        >
          <tr *ngFor="let item of dataList$ | async">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.nameProject }}</td>
            <td>{{ item.startDate }}</td>
            <td>{{ item.teamSize }}</td>
            <td>
              <button type="button" class="btn btn-primary me-2">
                Primary
              </button>
              <button type="button" class="btn btn-danger">Danger</button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <ng-container *ngIf="dataList$ | async; else notFound">
            <tr>
              <td colspan="16" class="fz-12 text-center">
                <div>
                  <span>Đang tải </span>
                  <span
                    class="spinner spinner-sm spinner-primary spinner-left"
                  ></span>
                </div>
              </td>
            </tr>
          </ng-container>
          <ng-template #notFound>
            <tr>
              <td colspan="16" class="fz-12 text-center">
                Không có dữ liệu hiển thị
              </td>
            </tr>
          </ng-template>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
