<div>
  <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      (click)="activeModal.close(false)"
    ></button>
  </div>
  <div class="modal-body">
    <form class="row g-3" [formGroup]="formProjectManager">
      <div class="col-md-6">
        <div>
          <label for="inputEmail4" class="form-label">Tên dự án</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            formControlName="nameProject"
          />
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Số thành viên</label>
        <input
          type="text"
          class="form-control"
          id="inputPassword4"
          formControlName="teamSize"
        />
      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label">Ngày bắt đầu</label>
        <br />
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-12 mt-0">
        <label for="inputAddress2" class="form-label">Doanh thu dự án</label>
        <input type="text" class="form-control" formControlName="pice" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="activeModal.close(false)"
    >
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="handleSubmit()">Save changes</button>
  </div>
</div>
